<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="wigth=device-wight , initial-scale=1.0"/>
    <link rel="stylesheet" href="/index.css">
    <title class="title"><%= title %></title>
</head>

<body>

<div class="box">
    <h1 class="head"><%= message %></h1>

   <form class="form" action="/" method="post">
        <input class="input_url" type="url" name="sended_url" required placeholder="https://www.youtube.com/watch?v=VIDEO_ID">
        

        <select name="box_quality" class="box-q">
            <option value="1080">1080p</option>
            <option value="720">720p</option>
            <option value="480">480p</option>
            <option value="360">360p</option>
            <option value="240">240p</option>
            <option value="144">144p</option>

        </select>




        <input class="send" type="submit" value="Send" >

   </form>

</div>
</body>

</html>