<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="wigth=device-wight , initial-scale=1.0"/>
    <title></title>
</head>

<body>


    <h1><%= message %></h1>
   <form action="/post">
        <input type="url">
        <input type="submit" name="" id="">

   </form>

   
</body>

</html>