<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="wigth=device-wight , initial-scale=1.0"/>
    <title></title>
</head>

<body>


    <h1><%= message %></h1>

   <form action="/post" method="post">
        <input type="url" name="sended_url">
        <input type="submit" value="Send" >

   </form>


</body>

</html>